.gameBoard-container {
    display: flex;
}

.square {

    width: 50%;
    border: 1px solid black;
    position: relative;
    background-color: lightblue;
    margin: auto;
}

.square:after {
    content: '';
    display: block;
}

.gameBoard {
    position: absolute;
    width: 100%;
    height: 100%;
}

.squarePiece {
    width: 33.3333333%;
    position: relative;
    background-color: lightcoral;
    margin: auto;
}

.squarePiece:after{
    padding-bottom: 100%;
    border: 1px solid black;
    content: "";
    display: block;
}

.squarePiece:hover{
    opacity: 0.5;
}


.squarePiece:active {
    background-color: black;
    color: white;
}

.lol {
    background-color: black;
}

.lol2 {
    background-color: yellow;
}